* {
    box-sizing: border-box;
}

.container {
    width: 50vw;
    height: 50vw;
    background-color: black;
    display: flex;
    flex-flow: column;
}
.gridLine {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    border-top: 1px solid #bbb;
}

.gridLine:last-child {
    border-bottom: 1px solid #bbb;
}

.gridBox {
    flex-grow: 1;
    border-left: 1px solid #bbb;
    background-color: rgba(255, 255, 255, 1);
}

.gridBox:last-child {
    border-right: 1px solid #bbb;
}