* {
    box-sizing: border-box;
}

button {
    border: none;
    cursor: pointer;
    outline: none;
}

.content {
    height: 100vh;
    background: linear-gradient(#1e2c38, #334a5e);
    display: flex;
}

.sketch-border {
    position: relative;
    height: 70vh;
    width: 64vh;
    margin: auto;
    display: flex;
    flex-flow: column;
    justify-content: flex-end;
    background-color: #3b7dbb;
    border-radius: 5vh;
    box-shadow: .8vh .8vh rgba(0, 0, 0, 0.342);
}

#reset {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 5vh;
    width: 5vh;
    border-radius: 100%;
    align-self: center;
    bottom: 2.5vh;
    box-shadow: .5vh .5vh #1e2c38;
}

#reset:active {
    height: 4.7vh;
    width: 4.7vh;
    background: linear-gradient(#969696, #dfdfdf);
}

#reset img {
    position: absolute; 
    opacity: .8;
    user-drag: none; 
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.toggle-grid {
    position: absolute;
    bottom: 5.5vh;
    right: 13vh;
}

.toggle-color {
    position: absolute;
    bottom: 5.5vh;
    left: 10vh;
}

.toggle-grid > p {
    position: relative;
    left: 1.4vh;
    bottom: .5vh;
    font: bold .8em arial;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggle-color > p {
    position: relative;
    left: .4vh;
    bottom: .5vh;
    font: bold .8em arial;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.toggle-color > input, .toggle-grid > input {
    display: none;
}

.toggle-color > label, .toggle-grid > label {
    position: absolute;
    height: 3vh;
    width: 7vh;
    background: #898989;
    border-radius: 70vh;
    cursor: pointer;
    transition: all 0.3s ease;
}

.toggle-color > label:after, .toggle-grid > label:after {
    position: absolute;
    width: 3vh;
    height: 3vh;
    border-radius: 100%;
    background: #fff;
    box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
    content: '';
    transition: all 0.3s ease;
}

.toggle-color > label:active:after, .toggle-grid > label:active:after {
    transform: scale(1.15, 0.85);
}

.toggle-color > input:checked ~ label, .toggle-grid > input:checked ~ label {
    background: #6fbeb5;
}

.toggle-color > input:checked ~ label:after, .toggle-grid > input:checked ~ label:after {
    right: 0;
}

/*sketch setup*/
.etch-a-sketch {
    position: relative;
    margin: auto;
    width: 50vh;
    height: 50vh;
    background-color: black;
    display: flex;
    flex-flow: column;
}
.gridLine {
    display: flex;
    flex-flow: row;
    flex-grow: 1;
    border-top: 1px solid #bbb;
}

.gridLine:last-child {
    border-bottom: 1px solid #bbb;
}

.gridBox {
    flex-grow: 1;
    border-left: 1px solid #bbb;
    background-color: rgba(255, 255, 255, 1);
}

.gridBox:last-child {
    border-right: 1px solid #bbb;
}